---
/**
 * @since 0.1.0-alpha
 *
 * @packageDocumentation
 */

/* import - types */
import type { GenericElementProps } from '../../ts/index.js';

/* import - functions */
import { mapToObject } from '../../ts/index.js';
import { makeClassList } from '../functions.js';

/* import - values */
import { MAIN_AS_ARTICLE } from 'astro:env/client';

/* import - components */
import RenderedSlotContent from '../components/RenderedSlotContent.astro';

/* import - layouts */

/* TYPES ===================================== */

/**
 * Input props for the Main component.
 *
 * @since 0.1.0-alpha
 * @since 0.1.0-alpha.17 — Moved to component file.
 */
export interface MainProps {
    asArticle?: boolean;
}

/* PROPS ===================================== */

type Props = GenericElementProps<MainProps, 'main'>;

const {
    asArticle = MAIN_AS_ARTICLE,
    class: classList = [],
    ...attributes
}: Props = Astro.props.frontmatter ?? Astro.props;

/* CONSTANTS ===================================== */

/**
 * Rendered slot HTML.
 */
const slots_render = mapToObject(
    await Promise.all(
        (
            [
                'afterSiteContent',
                'beforeSiteContent',
                'contentHeader',
                'default',
            ] as const
        ).map(async (_key) => {
            const _kebab = _key.replace(
                /([a-z0-9])([A-Z])/g,
                (_v, _cap1, _cap2) => _cap1 + '-' + _cap2.toLowerCase(),
            );

            return [
                _key,
                Astro.slots.has(_kebab) &&
                    (await Astro.slots.render(_kebab))?.trim(),
            ] as const;
        }),
    ),
);
---

<main
    role='main'
    id='main'
    class:list={makeClassList('main-content', classList)}
    {...attributes}
>
    {
        asArticle && (
            <RenderedSlotContent
                name='before-main-content'
                html={slots_render.beforeSiteContent}
            />
            <Fragment
                slot='before'
                set:html='<article class="main-content__article">'
            />
        )
    }

    <RenderedSlotContent
        name='content-header'
        html={slots_render.contentHeader}
    >
        <Fragment
            slot='before'
            set:html='<header class="content-header">'
        />
        <Fragment
            slot='after'
            set:html='</header>'
        />
        <h1
            slot='empty-before'
            class='screen-reader-text'
        >
            Main Content
        </h1>
    </RenderedSlotContent>

    {!asArticle && <RenderedSlotContent
        name='before-main-content'
        html={slots_render.beforeSiteContent}
    />}

    <RenderedSlotContent
        name=''
        html={slots_render.default}
    >
        <p
            slot='empty-before'
            class='aside'
            set:text='Content coming soon!'
        />
    </RenderedSlotContent>

    {
        asArticle && (
            <Fragment
                slot='after'
                set:html='</article>'
            />
        )
    }

    <RenderedSlotContent
        name='after-main-content'
        html={slots_render.afterSiteContent}
    />
    <slot name='sidebar' />
</main>

<style lang='scss'>
    @forward '../css/screen-reader-text.css';
</style>
