---
/**
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */
import type {
    getLoremIpsumIds,
    LoremIpsum_DisplaySettings_Parsed,
    LoremIpsumProps,
} from '../../functions/loremIpsum.js';

/* import - functions */
import {
    getLoremIpsumToc,
} from '../../functions/loremIpsum.js';

/* import - values */

/* import - components */
import CodeBlock from '../CodeBlock.astro';
import Heading from '../Heading.astro';
import TableOfContents from '../TableOfContents.astro';

import Lorsum_Heading from './Lorsum_Heading.astro';

/* import - layouts */

/* TYPES ===================================== */

/* PROPS ===================================== */

 interface Props extends Pick<Required<LoremIpsumProps>, 'displayHeading'|'heading'|'ToggleComponent'|'toggleProps'> {
    ifDisplay: LoremIpsum_DisplaySettings_Parsed;
    previewComponents: Required<Required<LoremIpsumProps>['previewComponents']>;
    props: LoremIpsumProps;
    tableOfContentsIds: ReturnType<typeof getLoremIpsumIds>;
}

const {
    heading,
    displayHeading = heading,
    ifDisplay,
    previewComponents: { Forms, Lists, Table },
    props,
    tableOfContentsIds,
    ToggleComponent,
    toggleProps,
}: Props = Astro.props;

/* CONSTANTS ===================================== */

export const code = {
    css: [
        'body {',
        '    display: grid;',
        '    position: relative;',
        '',
        '    grid-template-columns: var(--gap-inline-layout-half, 4vw) [site-start] 0 [page-start] 1fr [sidebar-start] 0 [content-start] minmax(auto, var(--width-content, 36rem)) [content-end] 0 [sidebar-end] 1fr [page-end] 0 [site-end] var(--gap-inline-layout-half, 4vw);',
        '    grid-auto-rows: auto;',
        '    grid-auto-flow: column;',
        '',
        '    justify-content: center;',
        '    justify-items: stretch;',
        '    align-content: start;',
        '    align-items: start;',
        '',
        '    gap: 0;',
        '',
        '    margin-inline: 0;',
        '}',
    ].join('\n'),

    html: [
        '<p class="title">Title Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p class="h1">Heading 1 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p class="h2">Heading 2 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p class="h3">Heading 3 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p class="h4">Heading 4 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p class="h5">Heading 5 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p class="h6">Heading 6 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p class="h7">Heading 7 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p class="h8">Heading 8 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
    ].join('\n'),

    php: [
        '$say_hi = true;',
        '',
        'if ( $say_hi ) {',
        "    echo 'Hello World!';",
        '}',
    ].join('\n'),
};

const tocMenu = ifDisplay.toc && getLoremIpsumToc( props, tableOfContentsIds, ifDisplay );
---

{ tocMenu && (
    <TableOfContents
        class="sidebar-width"
        defaultOpen={ifDisplay.tocDefaultOpen}
        displayHeading={ifDisplay.tocDisplayHeading}
        heading={heading}
        menu={tocMenu}
        ToggleComponent={ToggleComponent}
    />
) }

<p>Lorem ipsum <a href="#" target="_blank">dolor sit amet</a>, consectetur adipiscing elit. Sed vel odio at nibh <abbr title="these aren’t real words">pharetra condimentum</abbr>. <em>Nam tincidunt dapibus purus, nec tempus mi tempor vitae.</em> Mauris id sapien sodales, dignissim tortor eget, volutpat turpis.{ ifDisplay.textMedium ? <span> Donec mi ex, venenatis in elit vitae, <a href="#" aria-disabled="true">blandit sodales nunc</a>. <strong><em>Nunc pellentesque</em></strong> urna sed metus vulputate, vel maximus magna consectetur.</span> : '' }{ ifDisplay.textLong ? <span> In hac habitasse platea dictumst. Nulla aliquet iaculis dignissim. Donec pulvinar euismod ex quis imperdiet. Donec bibendum, <strong>sem id ullamcorper</strong> vehicula, ligula ante mattis nisl, ut scelerisque tortor tortor sit amet quam. Praesent lacinia elementum erat et feugiat.</span> : '' }</p>

{ ifDisplay.textPage && (
    <Heading
        displayHeading={displayHeading}
        heading={heading}
    >Suspendisse Potenti <a href="#">ex</a></Heading>
    <p>Proin leo mauris, iaculis et est eget, egestas tincidunt metus. Quisque mattis semper semper. Suspendisse dapibus maximus leo, quis facilisis risus auctor et. Nam vitae dolor mi. Morbi vestibulum dictum ipsum vel fermentum. Donec tincidunt fermentum ante eu faucibus.</p>
    <p>Vivamus facilisis vitae sapien sit amet blandit. In ac justo mollis, pulvinar leo nec, efficitur tortor. Praesent molestie dolor id tellus finibus, a placerat elit faucibus.</p>
) }

{ ifDisplay.headingsList && (
    <hr />
    <Lorsum_Heading
        class="page-title"
        heading={1}
        id={tableOfContentsIds.headings?.id}
        prefix="Title (.page-title)"
    />
    <Fragment>{ ifDisplay.headingLevels.map( num => <Lorsum_Heading heading={num} /> ) }</Fragment>
) }

{ ifDisplay.headingSubtitlesList && (
    <hr />
    <Lorsum_Heading
        class="page-title"
        heading={1}
        id={tableOfContentsIds.headingSubtitles?.id}
        prefix="Title (.page-title)"
        subheading={true}
    />
    <Fragment>{ ifDisplay.textPage && (
        <p>Praesent rutrum velit sodales ante varius convallis. Pellentesque bibendum fermentum lacus. Quisque venenatis ligula metus, quis finibus arcu interdum eget.</p>
    ) }</Fragment>

    <Fragment>{ ifDisplay.headingLevels.map(
        num => (
            <Lorsum_Heading heading={num} subheading={true} />
            <Fragment>{ ifDisplay.textPage && (
                <p>Praesent rutrum velit sodales ante varius convallis. Pellentesque bibendum fermentum lacus. Quisque venenatis ligula metus, quis finibus arcu interdum eget.</p>
            ) }</Fragment>
        )
    ) }</Fragment>
) }

{ (ifDisplay.headingsList || ifDisplay.textPage) && (
    <p>Aenean lacinia urna sed lacus interdum faucibus. Pellentesque bibendum fermentum lacus. Quisque venenatis ligula metus, quis finibus arcu interdum eget.</p>
) }

<slot />

{ ifDisplay.toggleBlocks && tableOfContentsIds.toggles && (
    <hr />
    
    <ToggleComponent
        {...toggleProps}
        id={tableOfContentsIds.toggles.id}
    >
        <p>Boo!</p>
        <p>Maecenas facilisis sollicitudin nisi, eget pellentesque dui rhoncus condimentum. Vivamus vulputate nisl sit amet vehicula commodo. Suspendisse pharetra varius ipsum, sed scelerisque ipsum tempor eget. Curabitur mollis lacus eu augue vestibulum semper.</p>
        <p>Praesent rutrum velit sodales ante varius convallis. Proin ut gravida sem. Nulla ac sapien odio.</p>
    </ToggleComponent>
    
    <ToggleComponent
        {...toggleProps}
        id={`${tableOfContentsIds.toggles.id}-open-default`}
        defaultOpen={true}
    >
        <Fragment slot='button'>I am open by default</Fragment>
        <p>Boo!</p>
    </ToggleComponent>

    <Fragment>{ ifDisplay.headingLevels.map( (heading) => ( 
        tableOfContentsIds.toggles ? <ToggleComponent
            {...toggleProps}
            displayHeading={heading}
            heading={0}
            id={`${tableOfContentsIds.toggles.id}-heading${heading}`}
        >
            <Fragment
                slot='button'
                set:text={`Toggle Heading ${heading}`}
            />
            <p>Boo!</p>
            <p>Maecenas facilisis sollicitudin nisi, eget pellentesque dui rhoncus condimentum. Vivamus vulputate nisl sit amet vehicula commodo. Suspendisse pharetra varius ipsum, sed scelerisque ipsum tempor eget. Curabitur mollis lacus eu augue vestibulum semper.</p>
            <p>Praesent rutrum velit sodales ante varius convallis. Proin ut gravida sem. Nulla ac sapien odio.</p>
        </ToggleComponent> : ''
    ) ) }</Fragment>
) }

<p>Ut vel leo in ligula facilisis sodales. Nulla facilisi. Nullam non nibh laoreet, cursus ex ut, blandit velit. Ut sit amet tempus velit.{ ifDisplay.textPage && ' Nunc lacus erat, fermentum eget efficitur id, porttitor ultricies mi.' }<a id={tableOfContentsIds.lists.id}></a></p>

<Lists ifDisplay={ifDisplay} />

<p>Donec quam erat, sagittis id diam a, hendrerit viverra ligula. Praesent condimentum erat et egestas venenatis.{ ifDisplay.textPage && ' Donec commodo porta nibh, ac tempus turpis pulvinar id.' }</p>

<slot name="two" />

<Heading
    displayHeading={1 + displayHeading}
    heading={ 1 + heading }
>Praesent Blandit <a href="#">ex</a></Heading>
<p>Turpis maximus posuere rhoncus, nunc est aliquam ligula, non ultrices felis turpis in sapien. Proin efficitur rhoncus ex auctor faucibus. Maecenas sed ornare ante, vitae consequat tellus. Aliquam eget facilisis nunc.</p>
<p>Mauris in arcu sagittis velit aliquam cursus dignissim at odio.</p>

{ ifDisplay.buttons && (
    <button type="button" id={tableOfContentsIds.buttons?.id}>This is a button</button>

    <div class="button-span">
        { ifDisplay.disabledButton && <button aria-disabled="true" type="button">This is a disabled button</button> }

        { ifDisplay.buttonVariationsAll ? ifDisplay.buttonVariations.map( variant => <button
            class={`button-${variant}`}
            set:text={`This is a ${variant} button`}
            type="button"
        /> ) : '' }
    </div>
) }

{ ifDisplay.buttons && ifDisplay.buttonTypes && <div class="button-span">
    <a class="button" href="#" target="_blank">This is a link with a <code>button</code> class</a>
    <button type="submit" set:text="This is a submit button" />
    <button type="reset" set:text="This is a reset button" />
</div> }

<slot name="three" />

<p>Cras neque arcu, fermentum non elementum ac, tincidunt ut nibh. Proin blandit, nisl at volutpat pulvinar, massa nisl vulputate risus, eget porttitor neque mi id augue.{ ifDisplay.textPage && ' Integer porttitor egestas facilisis. Quisque eget nibh hendrerit, ornare nisl sit amet, faucibus enim. Vivamus venenatis, libero et laoreet laoreet, purus dolor fringilla massa, sit amet luctus dolor ligula nec metus. Suspendisse ut justo vel nisi porta tincidunt.' }</p>

<Heading
    displayHeading={2 + displayHeading}
    heading={ 2 + heading }
>Nulla Facilisi <a href="#">ex</a></Heading>

<p>Nullam malesuada tincidunt turpis. Nam blandit facilisis efficitur. Vivamus scelerisque, eros sed iaculis elementum, eros leo viverra magna, vitae interdum quam sem id sapien.</p>

<slot name="four" />

{ ifDisplay.textPage && <p>Proin sollicitudin et nibh vitae egestas. Ut ut sapien vitae massa mollis viverra vitae sit amet ante. Donec ultrices ullamcorper facilisis. Vivamus id tincidunt libero, ac ultrices est.</p> }

{ ifDisplay.blockquote && (
    <blockquote id={tableOfContentsIds.blockquotes?.id}>
        <p>This is a blockquote. Suspendisse euismod, felis ut malesuada pulvinar, mi diam elementum neque, sit amet maximus est urna sed ipsum. Suspendisse venenatis interdum massa ac tincidunt.</p>
        <p>In eget fringilla justo. Proin venenatis in sem vitae fringilla. Morbi elementum nisi et risus hendrerit, et tincidunt mi euismod. Vestibulum faucibus elementum diam id placerat.</p>
        <cite>This is the citation (cite) for this quote.</cite>
    </blockquote>
    <Fragment>{ ifDisplay.blockquotePullQuote && (
        <p>Duis et faucibus augue, in tristique felis. Aenean pellentesque urna arcu, ac malesuada lacus scelerisque eget. In semper eu lectus non bibendum. Fusce non bibendum erat.</p>
        <blockquote class="pull-quote">
            <p>This is a blockquote (with a <code>pull-quote</code> class). Suspendisse euismod, felis ut malesuada pulvinar, mi diam elementum neque, sit amet maximus est urna sed ipsum. Suspendisse venenatis interdum massa ac tincidunt.</p>
            <p>In eget fringilla justo. Proin venenatis in sem vitae fringilla. Morbi elementum nisi et risus hendrerit, et tincidunt mi euismod. Vestibulum faucibus elementum diam id placerat.</p>
            <cite>This is the citation (cite) for this quote.</cite>
        </blockquote>
    ) }</Fragment>
) }

{ ifDisplay.code && (
    <Fragment>
        <p id={tableOfContentsIds.code?.id}>Look!  It’s <code>some code</code>!  Mauris a molestie dolor. Pellentesque eu metus enim. Maecenas dignissim mi a elementum fermentum. Nullam cursus finibus nulla ut tristique.</p>
        <p>Duis et faucibus augue, in tristique felis. Aenean pellentesque urna arcu, ac malesuada lacus scelerisque eget. In semper eu lectus non bibendum. Fusce non bibendum erat.</p>
        <CodeBlock lang="php" children={code.php} />
        { ifDisplay.codeLong && (
            <CodeBlock lang="plaintext" children={'this block has plaintext language applied!\n\nLook!  It’s `some code`!  Mauris a molestie dolor. Pellentesque eu metus enim. Maecenas dignissim mi a elementum fermentum. Nullam cursus finibus nulla ut tristique. Duis et faucibus augue, in tristique felis. Aenean pellentesque urna arcu, ac malesuada lacus scelerisque eget. In semper eu lectus non bibendum. Fusce non bibendum erat.'} />
            <CodeBlock lang="php" class="content-width" children={'// this should be content-width\n\n' + code.php} />
            <CodeBlock lang="php" class="page-width" children={'// this should be page-width\n\n' + code.php} />
        ) }
        <CodeBlock lang="html" children={code.html} />
        { ifDisplay.codeLong && (
            <CodeBlock lang="css" class="page-width" children={'/* this should be page-width */\n\n' + code.css} />
            <CodeBlock lang="css" class="site-width" children={'/* this should be site-width */\n\n' + code.css} />
        ) }
    </Fragment>
) }

{ ifDisplay.textPage && <p>Vestibulum quis erat lorem. Donec ultrices maximus mauris, vel aliquam orci laoreet posuere. Proin aliquam rhoncus eros et congue. In ut accumsan diam. Morbi eleifend arcu in molestie lacinia. Nunc dolor erat, cursus quis dolor id, imperdiet lacinia tortor. Nulla accumsan feugiat elementum. Quisque id sodales velit, ut.</p> }

{ ifDisplay.textPage && (
    <Heading
        displayHeading={3 + displayHeading}
        heading={ 3 + heading }
    >Pretium Purus <a href="#">ex</a></Heading>
    <p>Nulla finibus diam a mauris euismod, eget maximus nisl semper. Praesent placerat ipsum eget libero tempor, id cursus sapien aliquam. Morbi eleifend laoreet maximus. Suspendisse porta a lorem nec fringilla. Vivamus malesuada, mi eu tincidunt interdum, turpis eros hendrerit eros, quis ornare urna tellus ut felis.</p>
) }

{ ifDisplay.table && <Table {...{ ifDisplay, tableOfContentsIds }} /> }

{ ifDisplay.textPage && <p>Dolor sit amet consectetur adipisicing elit. Ipsa aperiam tempora ex accusamus voluptatem tenetur esse, illo officia repellat. Sapiente exercitationem rerum tenetur! Beatae quasi, nobis cumque animi, cum laudantium explicabo corporis impedit et labore tempora aliquam a?</p> }

{ ifDisplay.textLong && (
    <Heading
        displayHeading={4 + displayHeading}
        heading={ 4 + heading }
    >Cras Volutpat <a href="#">ex</a></Heading>
    <p>Nulla dui, auctor fringilla neque laoreet sit amet. Mauris fringilla nisi et purus pulvinar euismod. Sed quis magna urna. Phasellus aliquet varius nibh, ac faucibus eros pharetra vel. Maecenas neque arcu, efficitur id molestie sed, varius quis nibh. Cras ligula enim, dictum nec ullamcorper sed, rutrum in tellus.</p>
) }

{ ifDisplay.forms && <Forms {...{ displayHeading, heading, ifDisplay, tableOfContentsIds }} /> }

<style lang='scss'>
    @forward '../../css/lorem-ipsum.css';
</style>