---
/**
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */
import type { HTMLAttributes } from 'astro/types';
import type { Props as AlertProps } from './Alert.d.ts';

/* import - functions */

/* import - values */

/* import - components */
import Icon from './Icon.astro';
import Heading from './Heading.astro';

/* import - layouts */

/* TYPES ===================================== */

export type * from './Alert.d.ts';

/* PROPS ===================================== */

// prettier-ignore
export type Props = AlertProps & Partial<Omit<HTMLAttributes<'section'>, keyof AlertProps | 'class' | 'class:list'>>;

const {
    heading,
    slug,
    svg,
    svgLabel,
    type = 'star',
    class: classList = [],
    ...attributes
}: Props = Astro.props;

/* CONSTANTS ===================================== */
---

<section
    {...attributes}
    class:list={[
        'alert-block',
        `alert-block--${slug ?? type}`,
        '||',
        classList,
    ]}
>
    {
        heading ? (
            <Heading
                heading={heading}
                class='alert-block__headline'
            >
                {svg ? (
                    <Icon
                        slug={slug}
                        svg={svg}
                        svgLabel={svgLabel}
                    />
                ) : (
                    <Icon type={type} />
                )}
                <slot name='headline' />
            </Heading>
        ) : (
            <header class='alert-block__headline'>
                {svg ? (
                    <Icon
                        slug={slug}
                        svg={svg}
                        svgLabel={svgLabel}
                    />
                ) : (
                    <Icon type={type} />
                )}
                <slot name='headline' />
            </header>
        )
    }
    <slot />
</section>
