---
/**
 * Displays placeholder elements to test and display styles.
 * 
 * @since ___PKG_VERSION___
 * 
 * @packageDocumentation
 */

/* import - types */
import type { Props as LoremIpsumProps } from './LoremIpsum.d.ts';
import type { GenericProps } from '../../ts/00-types/index.js';

/* import - functions */
import { arrayUnique } from '@maddimathon/utility-typescript/functions';

/* import - values */

/* import - components */
import CodeBlock from './CodeBlock.astro';
import Heading from './Heading.astro';

/* import - layouts */


/* TYPES ===================================== */

export type * from './LoremIpsum.d.ts';


/* PROPS ===================================== */

export type Props = GenericProps<LoremIpsumProps>;

const {
    heading = 2,
    ...props
}: Props = Astro.props.frontmatter ?? Astro.props;

let mode: { [ K in Required<Props>['mode'] ]: boolean };

switch ( props.mode ) {

    case 'fancy':
        mode = {
            fancy: true,
            library: false,
            minimum: true,
        };
        break;

    case 'library':
        mode = {
            fancy: true,
            library: true,
            minimum: true,
        };
        break;

    case 'minimum':
    default:
        mode = {
            fancy: false,
            library: false,
            minimum: true,
        };
        break;
}


/* CONSTANTS ===================================== */

const allHeadingLevels = arrayUnique(
    [1, 2, 3, 4, 5, 6].concat(
        props.allHeadingLevels 
        ? props.allHeadingLevels.map( Number ).filter(num=>!Number.isNaN(num))
        : [7, 8]
    )
).map( 
    num => {
        const str = num.toString()
        return str.padStart( 10 - str.length, '0' );
    }
 ).sort().map( Number );

const {
    fancy,
    library,
    // minimum,
} = mode;

const code = {

    html: [
        '<p id="title" class="title">Title Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        // '<p id="heading-1" class="h1">Heading 1 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p id="heading-2" class="h2">Heading 2 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p id="heading-3" class="h3">Heading 3 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p id="heading-4" class="h4">Heading 4 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p id="heading-5" class="h5">Heading 5 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p id="heading-6" class="h6">Heading 6 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p id="heading-7" class="h7">Heading 7 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
        '<p id="heading-7" class="h8">Heading 8 Maecenas Facilisis Sollicitudin Nisi, Eget Pellentesque Dui Rhoncus Condimentum</p>',
    ].join('\n'),

    php:[
        '$say_hi = true;',
        '',
        'if ( $say_hi ) {',
        '    echo \'Hello World!\';',
        '}',
    ].join('\n'),
};

const buttonVariations = props.buttonVariations?.filter( 
    v => v != 'primary' && v != 'disabled'
) ?? ['secondary'];

const displayHeading = props.displayHeading ?? heading;

---

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel odio at nibh <abbr title="these aren’t real words">pharetra condimentum</abbr>. <em>Nam tincidunt dapibus purus, nec tempus mi tempor vitae.</em> Mauris id sapien sodales, dignissim tortor eget, volutpat turpis. Donec mi ex, venenatis in elit vitae, <a href="#">blandit sodales nunc</a>. <strong><em>Nunc pellentesque</em></strong> urna sed metus vulputate, vel maximus magna consectetur. In hac habitasse platea dictumst. Nulla aliquet iaculis dignissim. Donec pulvinar euismod ex quis imperdiet. Donec bibendum, <strong>sem id ullamcorper</strong> vehicula, ligula ante mattis nisl, ut scelerisque tortor tortor sit amet quam. Praesent lacinia elementum erat et feugiat.</p>


<Heading
    displayHeading={displayHeading}
    heading={heading}
    id="suspendisse-potenti-ex"
>Suspendisse Potenti <a href="#">ex</a></Heading>
<p>Proin leo mauris, iaculis et est eget, egestas tincidunt metus. Quisque mattis semper semper. Suspendisse dapibus maximus leo, quis facilisis risus auctor et. Nam vitae dolor mi. Morbi vestibulum dictum ipsum vel fermentum. Donec tincidunt fermentum ante eu faucibus.</p>
<p>Vivamus facilisis vitae sapien sit amet blandit. In ac justo mollis, pulvinar leo nec, efficitur tortor. Praesent molestie dolor id tellus finibus, a placerat elit faucibus.</p>

{ fancy && (
    <hr>
    <p class="page-title | loremipsum-heading-sample">Title (.page-title) Maecenas Facilisis <a href="#">Sollicitudin Nisi</a>, Eget Pellentesque Dui Rhoncus Condimentum; Aenean Lacinia Urna Sed Lacus Interdum Faucibus; Donec Quam Erat, Sagittis id Diam a, Hendrerit Viverra Ligula; Proin Efficitur Rhoncus ex Auctor Faucibus</p>
    <Fragment>
        { allHeadingLevels.map( (num) => ( num > 1 ) && (
            <p
                class:list={`h${num} | loremipsum-heading-sample`}
                id={`heading-${num}`}
            >Heading {num} Maecenas Facilisis <a href="#">Sollicitudin Nisi</a>, Eget Pellentesque Dui Rhoncus Condimentum; Aenean Lacinia Urna Sed Lacus Interdum Faucibus; Donec Quam Erat, Sagittis id Diam a, Hendrerit Viverra Ligula; Proin Efficitur Rhoncus ex Auctor Faucibus</p>
        ) ) }
    </Fragment>
) }

<p>Aenean lacinia urna sed lacus interdum faucibus. Pellentesque bibendum fermentum lacus. Quisque venenatis ligula metus, quis finibus arcu interdum eget. Donec quam erat, sagittis id diam a, hendrerit viverra ligula.</p>

<slot />

<p>Ut vel leo in ligula facilisis sodales. Nulla facilisi. Nullam non nibh laoreet, cursus ex ut, blandit velit. Ut sit amet tempus velit. Nunc lacus erat, fermentum eget efficitur id, porttitor ultricies mi.</p>
<ul>
    <li>Suspendisse risus augue, vulputate vel enim eu, vulputate vehicula quam.</li>
    <li>Suspendisse accumsan ex sed ante lobortis sodales.
        <ul>
            <li>Etiam dictum fringilla placerat.</li>
            <li>Sed faucibus nulla eu cursus bibendum.
                <ul>
                    <li>Donec vitae justo vel leo ullamcorper mattis.</li>
                    <li>Mauris a tincidunt mauris.</li>
                    <li>Integer vehicula lacus ac congue ullamcorper. Aliquam luctus fringilla nunc, ut maximus arcu hendrerit in. Cras consequat id tortor nec dapibus.
                        <ul>
                            <li>Mauris a tincidunt mauris.</li>
                            <li>Duis hendrerit eu lacus at egestas.</li>
                        </ul>
                    </li>
                    <li>Duis hendrerit eu lacus at egestas.</li>
                </ul>
            </li>
            <li>Fusce eu tincidunt dui. Nam vulputate tincidunt eleifend. Nunc non quam quis massa volutpat lacinia nec at ipsum.</li>
        </ul>
    </li>
    <li>Curabitur neque risus, consectetur in semper non, fringilla in justo.</li>
</ul>
<p>Suspendisse potenti. Sed sed hendrerit arcu. Nullam posuere orci vel tellus tempor fringilla a eu lacus. Etiam ornare ligula eu ipsum eleifend laoreet blandit et diam. Duis cursus eros magna, ac sagittis nibh sodales eget. Praesent condimentum erat et egestas venenatis. Donec commodo porta nibh, ac tempus turpis pulvinar id.</p>
<ol>
    <li>Etiam ullamcorper commodo risus.
        <ol>
            <li>Proin gravida aliquam purus, at feugiat odio mollis ut.</li>
            <li>In hac habitasse platea dictumst.
                <ol>
                    <li>Proin gravida aliquam purus, at feugiat odio mollis ut.</li>
                    <li>In hac habitasse platea dictumst.
                        <ol>
                            <li>Donec vitae justo vel leo ullamcorper mattis.</li>
                            <li>Mauris a tincidunt mauris.</li>
                            <li>Integer vehicula lacus ac congue ullamcorper. Aliquam luctus fringilla nunc, ut maximus arcu hendrerit in. Cras consequat id tortor nec dapibus.</li>
                            <li>Duis hendrerit eu lacus at egestas.</li>
                        </ol>
                    </li>
                    <li>Proin vel risus finibus, convallis nisl vel, ultricies lorem. Sed hendrerit vel dui in pellentesque. Nunc elementum tortor quis felis pharetra faucibus.</li>
                </ol>
            </li>
            <li>Proin vel risus finibus, convallis nisl vel, ultricies lorem. Sed hendrerit vel dui in pellentesque. Nunc elementum tortor quis felis pharetra faucibus.</li>
        </ol>
    </li>
    <li>Fusce mattis, odio at varius pharetra, tellus arcu convallis erat, vel blandit nulla sem nec enim.</li>
    <li>Phasellus eu nibh at ligula elementum hendrerit ac vitae quam.</li>
</ol>
<p>Maecenas facilisis sollicitudin nisi, eget pellentesque dui rhoncus condimentum. Vivamus vulputate nisl sit amet vehicula commodo. Suspendisse pharetra varius ipsum, sed scelerisque ipsum tempor eget. Curabitur mollis lacus eu augue vestibulum semper. Praesent rutrum velit sodales ante varius convallis. Proin ut gravida sem. Nulla ac sapien odio.</p>

<slot name="two" />


<Heading
    displayHeading={1 + displayHeading}
    heading={ 1 + heading }
    id="praesent-blandit-ex"
>Praesent Blandit <a href="#">ex</a></Heading>
<p id="blockquote">Turpis maximus posuere rhoncus, nunc est aliquam ligula, non ultrices felis turpis in sapien. Proin efficitur rhoncus ex auctor faucibus. Maecenas sed ornare ante, vitae consequat tellus. Aliquam eget facilisis nunc. Mauris in arcu sagittis velit aliquam cursus dignissim at odio.</p>

<button type="button">This is a button</button>
<button aria-disabled="true" type="button">This is a disabled button</button>

<div class="button-span">
    { buttonVariations.map( variant =><button
        class={`button-${variant}`}
        set:text={`This is a ${variant} button`}
        type="button"
    /> ) }
</div>

{ fancy && (
    <a class="button" href="#" target="_blank">This is a link with a <code>button</code> class</a>
    <button type="submit" set:text="This is a submit button" />
    <button type="reset" set:text="This is a reset button" />
) }

<p>Cras neque arcu, fermentum non elementum ac, tincidunt ut nibh. Proin blandit, nisl at volutpat pulvinar, massa nisl vulputate risus, eget porttitor neque mi id augue. Integer porttitor egestas facilisis. Quisque eget nibh hendrerit, ornare nisl sit amet, faucibus enim. Vivamus venenatis, libero et laoreet laoreet, purus dolor fringilla massa, sit amet luctus dolor ligula nec metus. Suspendisse ut justo vel nisi porta tincidunt.</p>

<slot name="three" />


<Heading
    displayHeading={2 + displayHeading}
    heading={ 2 + heading }
    id="nulla-facilisi-ex"
>Nulla Facilisi <a href="#">ex</a></Heading>
<p>Nullam malesuada tincidunt turpis. Nam blandit facilisis efficitur. Vivamus scelerisque, eros sed iaculis elementum, eros leo viverra magna, vitae interdum quam sem id sapien.</p>

<slot name="four" />

<p>Proin sollicitudin et nibh vitae egestas. Ut ut sapien vitae massa mollis viverra vitae sit amet ante. Donec ultrices ullamcorper facilisis. Vivamus id tincidunt libero, ac ultrices est.</p>

{ fancy && (
    <blockquote>
        <p>This is a blockquote. Suspendisse euismod, felis ut malesuada pulvinar, mi diam elementum neque, sit amet maximus est urna sed ipsum. Suspendisse venenatis interdum massa ac tincidunt.</p>
        <p>In eget fringilla justo. Proin venenatis in sem vitae fringilla. Morbi elementum nisi et risus hendrerit, et tincidunt mi euismod. Vestibulum faucibus elementum diam id placerat.</p>
        <cite>This is the citation (cite) for this quote.</cite>
    </blockquote>
    <blockquote class="pull-quote">
        <p>This is a blockquote (with a <code>pull-quote</code> class). Suspendisse euismod, felis ut malesuada pulvinar, mi diam elementum neque, sit amet maximus est urna sed ipsum. Suspendisse venenatis interdum massa ac tincidunt.</p>
        <p>In eget fringilla justo. Proin venenatis in sem vitae fringilla. Morbi elementum nisi et risus hendrerit, et tincidunt mi euismod. Vestibulum faucibus elementum diam id placerat.</p>
        <cite>This is the citation (cite) for this quote.</cite>
    </blockquote>
    <p>Look!  It's <code>some code</code>!  Mauris a molestie dolor. Pellentesque eu metus enim. Maecenas dignissim mi a elementum fermentum. Nullam cursus finibus nulla ut tristique. Duis et faucibus augue, in tristique felis. Aenean pellentesque urna arcu, ac malesuada lacus scelerisque eget. In semper eu lectus non bibendum. Fusce non bibendum erat.</p>
) }

{ library ? (
    <CodeBlock lang="php" children={code.php} />
    <CodeBlock lang="html" children={code.html} />
) : fancy && (
    <pre><code set:text={code.php} /></pre>
    <pre><code set:text={code.html} /></pre>
) }

<p>Vestibulum quis erat lorem. Donec ultrices maximus mauris, vel aliquam orci laoreet posuere. Proin aliquam rhoncus eros et congue. In ut accumsan diam. Morbi eleifend arcu in molestie lacinia. Nunc dolor erat, cursus quis dolor id, imperdiet lacinia tortor. Nulla accumsan feugiat elementum. Quisque id sodales velit, ut.</p>


<Heading
    displayHeading={3 + displayHeading}
    heading={ 3 + heading }
    id="pretium-purus-ex"
>Pretium Purus <a href="#">ex</a></Heading>
<p>Nulla finibus diam a mauris euismod, eget maximus nisl semper. Praesent placerat ipsum eget libero tempor, id cursus sapien aliquam. Morbi eleifend laoreet maximus. Suspendisse porta a lorem nec fringilla. Vivamus malesuada, mi eu tincidunt interdum, turpis eros hendrerit eros, quis ornare urna tellus ut felis.</p>

{ fancy && (
    <div class="table-wrapper"><table>
        <tr>
            <th>Table Heading 1</th>
            <th>Table Heading 2</th>
            <th>Table Heading 3</th>
        </tr>
        <tr>
            <td>Pellentesque in mauris neque. Vivamus rutrum sodales eros, quis cursus leo ultrices eget.</td>
            <td>Sed ullamcorper eu sapien vitae elementum. </td>
            <td>Praesent mollis efficitur odio vitae pretium.</td>
        </tr>
        <tr>
            <td>Quisque venenatis ac velit venenatis scelerisque.</td>
            <td>Ut eros lacus, mattis sit amet pretium a, fermentum et dolor. Cras eu semper massa.</td>
            <td>Nam congue sagittis scelerisque. Etiam et diam pharetra, tempor ex sit amet, scelerisque est.</td>
        </tr>
    </table></div>
) }

<p>Dolor sit amet consectetur adipisicing elit. Ipsa aperiam tempora ex accusamus voluptatem tenetur esse, illo officia repellat. Sapiente exercitationem rerum tenetur! Beatae quasi, nobis cumque animi, cum laudantium explicabo corporis impedit et labore tempora aliquam a?</p>

{ 
    // fancy && !library && (
    // <details>
    //     <summary>Lorem ipsum dolor sit amet consectetur adipisicing elit.</summary>
    //     <div class="details-container">
    //         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A consequuntur tempora expedita omnis autem sed doloremque hic laboriosam, magni veritatis quidem, tempore rem aspernatur excepturi ipsa vel vero! Assumenda culpa molestias non libero iusto nihil similique nesciunt accusamus delectus neque in voluptas praesentium eos provident odit quibusdam fugit, nisi cumque ea vitae!</p>
    //         <p>Unde velit molestias animi nemo dolor atque quasi architecto illum dignissimos, optio error? Aliquam, perferendis. Laudantium earum, cum quo labore similique vero dignissimos reiciendis rerum, nisi officia, consequatur quisquam nihil nesciunt asperiores blanditiis quia iure non?</p>
    //     </div>
    // </details>
    // <details>
    //     <summary>Quia sed nam temporibus? Saepe, quos repellat?</summary>
    //     <div class="details-container">
    //         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ad debitis soluta repellat ducimus reiciendis veritatis, velit accusamus saepe eveniet ipsam in fuga eius vel. Atque animi dolorum numquam voluptate labore non dignissimos adipisci quia quisquam. Porro officiis deleniti, a ipsum velit minima.</p>
    //         <p>Nemo, tempore eum sequi natus eveniet inventore expedita numquam excepturi! Praesentium ex consequuntur nam, facere velit hic perferendis, commodi at qui dolore repellat nulla deserunt ea quibusdam eum voluptatibus? Sit nulla maiores impedit est quod possimus vitae non beatae ducimus commodi. Consequatur sunt id, explicabo consectetur modi nemo animi quia unde ipsum molestias?</p>
    //     </div>
    // </details>
    // ) 
}

<Heading
    displayHeading={4 + displayHeading}
    heading={ 4 + heading }
    id="cras-volutpat-ex"
>Cras Volutpat <a href="#">ex</a></Heading>
<p>Nulla dui, auctor fringilla neque laoreet sit amet. Mauris fringilla nisi et purus pulvinar euismod. Sed quis magna urna. Phasellus aliquet varius nibh, ac faucibus eros pharetra vel. Maecenas neque arcu, efficitur id molestie sed, varius quis nibh. Cras ligula enim, dictum nec ullamcorper sed, rutrum in tellus.</p>

{ fancy && (
    <hr/>

    <Heading
        displayHeading={displayHeading}
        heading={heading}
    >Simple Form</Heading>
    <form>

        <label>Your Name</label>
        <input type="text" name="your-name" placeholder="What should we call you?">
        
        <label>Your Email</label>
        <input type="email" name="your-email" placeholder="How should we reply?">
        
        <label>Your Message</label>
        <textarea
            name="your-message"
            placeholder="What would you like to tell us?"
            rows="4"
        ></textarea>
        
        <input type="submit" value="Send Message">
        
    </form>
) }

{/* { fancy && (

<hr/>

<Heading
    displayHeading={displayHeading}
    heading={heading}
>Fancy Forms</Heading>
<form>

    <label for="input1">Text Input</label>
    <input type="text" id="input1" name="input1">

    <label for="input2a">Telephone Input</label>
    <input type="tel" id="input2a" name="input2a">

    <label for="input2b">Telephone Input with Pattern</label>
    <input type="tel" id="input2b" name="input2b" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">

    <label for="input3">Email Input</label>
    <input type="email" id="input3" name="input3">

    <label for="input4">URL Input</label>
    <input type="url" id="input4" name="input4">

    <label for="input5">Password Input</label>
    <input type="password" id="input5" name="input5">
    
    <label for="textarea">Textarea Element</label>
    <textarea id="textarea" name="textarea" rows="5"></textarea>

    <fieldset>

        <legend>Numerical Elements</legend>
    
        <label for="input6">Number Input</label>
        <input type="number" id="input6" name="input6" min="" max="" step="1">
            
        <label for="input7">Range Input</label>
        <input type="range" id="input7" name="input7" min="0" max="100" step="1">

    </fieldset>

    <fieldset aria-label="Multi-Choice Elements">

        <label class="checkbox-label" for="input8-1"><input type="checkbox" id="input8-1" name="input8" value="input8-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores rem labore assumenda quod?</label>
        <label class="checkbox-label" for="input8-2"><input type="checkbox" id="input8-2" name="input8" value="input8-2">Qui commodi odio, rem assumenda laboriosam quidem, nesciunt magni provident, animi autem iusto.</label>
        <label class="checkbox-label" for="input8-3"><input type="checkbox" id="input8-3" name="input8" value="input8-3">Error, delectus! Vel similique quidem nam culpa ipsum repudiandae assumenda suscipit reprehenderit nihil. Placeat labore fuga excepturi?</label>
        <label class="checkbox-label" for="input8-4"><input type="checkbox" id="input8-4" name="input8" value="input8-4">Odio atque explicabo deleniti praesentium, illo dolorem tempora.</label>
        <label class="checkbox-label" for="input8-5"><input type="checkbox" id="input8-5" name="input8" value="input8-5">Numquam veniam quod minima nisi ratione! Minima nemo aliquid eaque ducimus cupiditate cumque quibusdam a aspernatur accusantium excepturi?</label>
        <label class="checkbox-label" for="input8-6"><input type="checkbox" id="input8-6" name="input8" value="input8-6">Ab hic perferendis nesciunt asperiores animi maxime dolore. Sint dolores sed magnam ab dolorum vel eius unde labore quae autem.</label>

        <label class="checkbox-label" for="input9-1"><input type="radio" id="input9-1" name="input9" value="input9-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore fugit esse voluptates architecto asperiores rerum sed nobis nulla, sequi beatae?</label>
        <label class="checkbox-label" for="input9-2"><input type="radio" id="input9-2" name="input9" value="input9-2">Quam atque cupiditate, quia labore ut asperiores corporis perferendis vero odio ratione!</label>
        <label class="checkbox-label" for="input9-3"><input type="radio" id="input9-3" name="input9" value="input9-3">Aut doloremque ullam deleniti, obcaecati architecto maiores temporibus ipsam sapiente dolore! Eveniet dignissimos eum ex sequi sit nobis ipsa soluta minima.</label>
        <label class="checkbox-label" for="input9-4"><input type="radio" id="input9-4" name="input9" value="input9-4">Deleniti iste a distinctio exercitationem animi optio quas placeat id omnis enim, error ad corrupti necessitatibus odio.</label>
        <label class="checkbox-label" for="input9-5"><input type="radio" id="input9-5" name="input9" value="input9-5">Provident totam impedit laborum autem, accusamus perspiciatis fugiat molestiae eius commodi, ullam, assumenda rem placeat magnam ratione sequi?</label>
        <label class="checkbox-label" for="input9-6"><input type="radio" id="input9-6" name="input9" value="input9-6">Repellendus a dolorem voluptatum, fugiat quas harum nesciunt iure doloribus nostrum cumque reprehenderit iusto. Non, ipsa? Veritatis?</label>
    
        <select class="no-label" id="select1" name="select1">
            <option value="opt1">Lorem, ipsum dolor.</option>
            <option value="opt2">Tenetur, amet sunt.</option>
            <option value="opt3">Iusto et mollitia sunt!</option>
            <option value="opt4">Provident at consectetur quisquam?</option>
            <option value="opt5">Aperiam, nemo.</option>
            <option value="opt6">Ipsam iste eos suscipit.</option>
        </select>
    
        <select class="no-label" id="select2" name="select2" size="3" multiple>
            <option value="opt1">Lorem, ipsum dolor.</option>
            <option value="opt2">Tenetur, amet sunt.</option>
            <option value="opt3">Iusto et mollitia sunt!</option>
            <option value="opt4">Provident at consectetur quisquam?</option>
            <option value="opt5">Aperiam, nemo.</option>
            <option value="opt6">Ipsam iste eos suscipit.</option>
        </select>

    </fieldset>

    <label for="input10">Date Input</label>
    <input type="date" id="input10" name="input10" min="" max="">

    <label for="input11">Time Input</label>
    <input type="time" id="input11" name="input11">

    <label for="input12">Datetime-Local Input</label>
    <input type="datetime-local" id="input12" name="input12">

    <label for="input13">Week Input</label>
    <input type="week" id="input13" name="input13">

    <label for="input14">Month Input</label>
    <input type="month" id="input14" name="input14">

    <label for="input15">File Input</label>
    <input type="file" id="input15" name="input15">

    <label for="input16">Colour Input</label>
    <input type="color" id="input16" name="input16">

    <label for="input17">Hidden Field</label>
    <input type="hidden" id="input17" name="input17" value="hidden">

    <label for="input18">Search Field</label>
    <input type="search" id="input18" name="input18">

    <button type="button" id="button" name="button" onclick="alert('Hello World!')">Say Hello</button>

    <input type="button" id="input19" name="input19" value="Nothing Button">

    <input type="reset" id="input20" name="input20" value="Reset Button">
    
    <input type="submit" id="input21" name="input21" value="Submit Button">

</form>
) } */}


<style lang="scss">
    .loremipsum-heading-sample {
        $_line_clamp: var(--loremipsum-heading-sample-line-clamp, 3);
        
        display: -webkit-inline-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: #{$_line_clamp};
        line-clamp: #{$_line_clamp};
        overflow: hidden;
    }

    :where( .button-span ) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin-block: var(--mrg-firm-400, 1.25rem) var(--mrg-half-400, 0.4375rem);
        gap: var(--mrg-firm-300, 0.8125rem) var(--mrg-firm-400, 1.25rem);

        > :where( button ),
        > :where( a.button ),
        > :where( [role=button] ),
        > :where( input[type=button] ),
        > :where( input[type=reset] ),
        > :where( input[type=submit] ) {
            margin: 0;
        }
    }
</style>