---
/**
 * @since ___PKG_VERSION___
 * 
 * @packageDocumentation
 */

/* import - types */
import type { Props as MenuListProps } from './MenuList.d.ts';
import type { GenericElementProps } from '../../ts/00-types/index.js';

/* import - functions */

/* import - values */

/* import - components */

/* import - layouts */


/* TYPES ===================================== */

export type * from './MenuList.d.ts';


/* PROPS ===================================== */

export interface Props extends Omit<GenericElementProps<MenuListProps, "div">, 'role'> {}

const {
    menu,
    
    class: classList = [],
    separator = null,
    submenu = false,
    ...attributes
}: Props = Astro.props.frontmatter ?? Astro.props;


/* CONSTANTS ===================================== */

---

{ menu && (
    <ul 
        {...attributes} 
        role="menu" 
        class:list={[ {submenu}, classList ]}
    >
        { menu.map( ( item, index ) => ( ( item.href || item.child ) && (
            <li role="none">
                { typeof item.href !== 'undefined' ? (
                    <a
                        role="menuitem"
                        href={ item.href || undefined }
                        target={( item.href && item.external ) ? '_blank' : undefined}

                        aria-current={( item.href && item.current ) ? 'page' : undefined}
                        aria-disabled={ item.href === false || undefined }

                        set:html={item.label}
                    />
                ) : item.child?.length && (
                    <span
                        role="menuitem" 
                        set:html={item.label}
                    />
                ) }
                { item.child?.length && <Astro.self menu={item.child} submenu={true} /> }
            </li>
            <Fragment>{ separator && index < menu.length && ( <Fragment set:html={separator} /> ) }</Fragment>
        ) ) ) }
    </ul>
) }