---
/**
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */
import type { GenericElementProps } from '../../ts/index.js';
import type { Props as SettingsMenuProps } from './SettingsMenu.d.ts';

/* import - functions */
import { absoluteInternalURL } from '../functions/index.js';
import { mapToObject } from '../../ts/index.js';
import SettingsMenu_Scripts from '../support/SettingsMenu_Scripts.astro';

/* import - values */

/* import - components */
import Icon from './Icon.astro';
import Toggle_Control from '../support/Toggle_Control.astro';

/* import - layouts */

/* TYPES ===================================== */

export type * from './SettingsMenu.d.ts';

/* PROPS ===================================== */

export interface Props extends GenericElementProps<SettingsMenuProps, 'div'> {}

const {
    accessibilityReportEmail,

    class: classList = ['website-settings-menu'],
    id = 'website-settings',

    privacyPolicy: privacyPolicyURL,
    settings: inputSettings,

    scripts = true,

    ...attributes
}: Props = Astro.props.frontmatter ?? Astro.props;

/* FUNCTIONS ===================================== */

function optionHTML(
    name: string,
    label: string,
    value: string,
    labelClass: string = ''
): string {
    const id = `${name}-${value}`;

    return `<label for="${id}" class="${labelClass}"><input
        name="${name}"
        id="${id}"
        value="${value}"
        type="radio"
        data-settings-input
    />${label}</label>`;
}

/* CONSTANTS ===================================== */

const buttonID = `${id}-button`;
const contentID = `${id}-content`;
const titleID = `${id}-title`;

const accessEmailSubject =
    'Accessibility Issue — ' +
    absoluteInternalURL(Astro.url, Astro.url.pathname, false).replace(
        /^https?:\/\/(www\.)?/gi,
        ''
    );

const settings: Required<Required<SettingsMenuProps>['settings']> = {
    brightness: true,
    contrast: false,
    motion: false,

    custom: [],

    ...inputSettings,
};

/**
 * Rendered slot HTML.
 */
const slots_render = mapToObject(
    await Promise.all(
        (
            [
                'default',
                'settingsMenuOpen',
                'settingsMenuClose',
            ] as const
        ).map(async (_key) => {
            const _kebab = _key.replace(
                /([a-z0-9])([A-Z])/g,
                (_v, _cap1, _cap2) => _cap1 + '-' + _cap2.toLowerCase()
            );

            return [
                _key,
                (Astro.slots.has(_kebab) &&
                    (await Astro.slots.render(_kebab))) ||
                    false,
            ] as const;
        })
    )
);
---

<div
    id={id}
    class:list={classList}
    aria-label='Accessibility & Display Settings'
    {...attributes}
    role='region'
    data-settings-menu
    data-settings-path={absoluteInternalURL(Astro.url, '')}
    data-toggle-container
>
    { slots_render.default ? (
        <!-- SLOT: "settings-menu" -->
        <slot name="settings-menu" />
        <!-- /SLOT: "settings-menu" -->
    ) : <!-- SLOT: "settings-menu" (empty) / --> }

    <div
        id={titleID}
        class='toggle-title'
        title='Accessibility & Display Settings'
    >
        <Toggle_Control
            {...{ id, buttonID }}
            class:list='website-settings__toggle'
            data-toggle-primary-control={id}
        >
            <Icon 
                slot='icon'
                type='settings'
                class:list={'settings-icon'}
            />
            <span class="screen-reader-text">Toggle settings menu</span>
        </Toggle_Control>
    </div>

    <section
        aria-labelledby={buttonID}
        class="website-settings__content"
        data-toggle-content={id}
        id={contentID}
    >
        <form class='container'>
            { slots_render.settingsMenuOpen ? (
                <!-- SLOT: "settings-menu-open" --> 
                <slot name="settings-menu-open" />
                <!-- /SLOT: "settings-menu-open" -->
            ) : <!-- SLOT: "settings-menu-open" (empty) / --> }

            {
                accessibilityReportEmail && (
                    <p class='website-settings__report'>
                        <a
                            href={`mailto:${accessibilityReportEmail}?subject=${encodeURIComponent(accessEmailSubject)}`}
                        >
                            Report Accessibility Issue
                        </a>
                    </p>
                )
            }

            {
                settings.brightness && (
                    <fieldset>
                        <legend class="h8">Brightness Mode</legend>

                        <div class='container'>
                            <Fragment
                                set:html={optionHTML(
                                    'brightness-mode',
                                    'Light',
                                    'light'
                                )}
                            />
                            <Fragment
                                set:html={optionHTML(
                                    'brightness-mode',
                                    'Dark',
                                    'dark'
                                )}
                            />
                        </div>
                    </fieldset>
                )
            }

            {
                settings.contrast && (
                    <fieldset>
                        <legend class="h8">Contrast Mode</legend>

                        <div class='container'>
                            <Fragment
                                set:html={optionHTML(
                                    'contrast-mode',
                                    'Low',
                                    'low',
                                )}
                            />
                            <Fragment
                                set:html={optionHTML(
                                    'contrast-mode',
                                    'Average',
                                    'average',
                                )}
                            />
                            <Fragment
                                set:html={optionHTML(
                                    'contrast-mode',
                                    'High',
                                    'high',
                                )}
                            />
                            { typeof settings.contrast === 'object' && settings.contrast.max && (
                                <Fragment
                                    set:html={optionHTML(
                                        'contrast-mode',
                                        'Maximum',
                                        'max',
                                    )}
                                />
                            ) }
                            <Fragment
                                set:html={optionHTML(
                                    'contrast-mode',
                                    'Custom',
                                    'forced-colors',
                                    'forced-colors-mode-only',
                                )}
                            />
                        </div>

                        <p class='forced-colors-mode-only aside'>
                            Your browser or computer has a ‘forced colours’ or 
                            custom contrast mode enabled, so changing the 
                            contrast setting will have little impact (if any).
                        </p>
                    </fieldset>
                )
            }

            {
                settings.motion && (
                    <fieldset>
                        <legend class="h8">Motion/Animation</legend>

                        <div class='container'>
                            <Fragment
                                set:html={optionHTML(
                                    'motion',
                                    'Default',
                                    'no-preference'
                                )}
                            />
                            <Fragment
                                set:html={optionHTML(
                                    'motion',
                                    'Reduce',
                                    'reduce'
                                )}
                            />
                        </div>
                    </fieldset>
                )
            }

            { settings.custom && settings.custom.map( ( setting ) => setting.options.length && (
                <fieldset
                    data-settings-menu-custom-setting={setting.id}
                    data-settings-menu-custom-setting-default={setting.default}
                >
                    <legend 
                        class="h8"
                        set:text={setting.label}
                    />

                    <div class='container'>{ setting.options.map( ( opt ) => (
                        <Fragment
                            set:html={optionHTML(
                                setting.id,
                                opt.label,
                                opt.value,
                                opt.labelClass,
                            )}
                        />
                    ) ) }</div>
                </fieldset>
            ) ) }

            <button
                data-settings-reset
                set:text='Reset Settings'
            />
            
            { slots_render.settingsMenuClose ? (
                <!-- SLOT: "settings-menu-close" -->
                <slot name="settings-menu-close" />
                <!-- /SLOT: "settings-menu-close" -->
            ) : <!-- SLOT: "settings-menu-close" (empty) / --> }
        </form>
    </section>

    <div
        data-toggle-control={id}
        class='website-settings__backdrop'
        aria-hidden='true'
    >
    </div>
</div>

<style lang='scss'>
    @forward '../css/forced-colors-mode-only.css';
</style>

{scripts && <SettingsMenu_Scripts {...(scripts === true ? {} : scripts)} />}
