---
/**
 * To use this component, your page MUST include the Toggle_Scripts components
 * and sass styles snippet (or replacements), otherwise this will not work.
 *
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */
import type { GenericElementProps } from '../../ts/00-types/index.js';
import Toggle_Control from '../support/Toggle_Control.astro';
import Heading from './Heading.astro';
import type { Props as ToggleProps } from './Toggle.d.ts';

/* import - functions */

/* import - values */

/* import - components */

/* import - layouts */

/* TYPES ===================================== */

export type * from './Toggle.d.ts';

/* PROPS ===================================== */

export type Props = GenericElementProps<ToggleProps, 'div'>;

const {
    defaultOpen,
    heading = 7,
    id,
    class: classList = [],
    ...attributes
}: Props = Astro.props.frontmatter ?? Astro.props;

/* CONSTANTS ===================================== */

const buttonHTML: string = (await Astro.slots.render('button')) || 'Toggle me';

const buttonID = `${id}-button`;
const contentID = `${id}-content`;
const titleID = `${id}-title`;
---

<div
    id={id}
    class:list={classList}
    {...attributes}
    data-toggle-container={defaultOpen ? 'open' : 'closed'}
>
    <div
        id={titleID}
        class='toggle-title'
    >
        {
            heading ? (
                <Heading heading={heading}>
                    <Toggle_Control {...{ id, buttonHTML, buttonID }} />
                </Heading>
            ) : (
                <Toggle_Control {...{ id, buttonHTML, buttonID }} />
            )
        }
    </div>

    <section
        data-toggle-content={id}
        id={contentID}
        aria-labelledby={titleID}
    >
        <div class='container'><slot /></div>
    </section>
</div>
