---
/**
 * To use this component, your page MUST include the Toggle_Scripts components
 * and sass styles snippet (or replacements), otherwise this will not work.
 *
 * @since 0.1.0-alpha
 *
 * @packageDocumentation
 */

/* import - types */
import type { ElementProps } from '../../ts/00-types/index.js';

/* import - functions */

/* import - values */

/* import - components */
import Heading from './Heading.astro';
import Toggle_Control from '../support/Toggle_Control.astro';

/* import - layouts */

/* PROPS ===================================== */

/**
 * Input props for the Toggle component.
 *
 * @since 0.1.0-alpha
 */
export interface ToggleProps {
    children: any; // these are the slots

    /**
     * Unique id attr.
     */
    id: string;

    class?: string;

    defaultOpen?: boolean;

    /**
     * If any, the heading display level override for this heading (otherwise
     * the `heading` value is used).
     *
     * @since 0.1.0-alpha.7 — Added false and undefined options.
     */
    displayHeading?: number | false | undefined;

    /**
     * If any, the heading level used to wrap the toggle button.
     */
    heading?: number | false;

    /**
     * The HTML tag used for the container element.
     *
     * @default 'section'
     *
     * @since 0.1.0-alpha.7
     */
    tag?: undefined | 'div' | 'li' | 'nav' | 'section';

    /**
     * The HTML tag used for the container's header element. If tag is
     * 'section', default is 'header', else it is 'div'.
     *
     * @since 0.1.0-alpha.7
     */
    headerTag?: undefined | 'div' | 'header';
}

export interface Props
    extends ElementProps<
        ToggleProps,
        'div',
        'aria-label' | 'aria-labelledby' | 'class' | 'class:list'
    > {}

const {
    defaultOpen,
    displayHeading,
    heading,
    id,
    // optional
    headerTag,
    tag: Container = 'section',
    ...attributes
}: Props = Astro.props;

/* FUNCTIONS ===================================== */

/**
 * Functions that generate ID values for Toggle elements.
 *
 * @since 0.1.0-alpha.7
 */
export const generateID = {
    button: (_id: string) => `${_id}-button`,
    content: (_id: string) => `${_id}-content`,
    title: (_id: string) => `${_id}-title`,
};

/* CONSTANTS ===================================== */

const buttonID = generateID.button(id);
const contentID = generateID.content(id);
const titleID = generateID.title(id);

const ContainerHeader =
    headerTag ?? (Container === 'section' ? 'header' : 'div');
---

<Container
    id={id}
    {...attributes}
    aria-labelledby={titleID}
    data-toggle-container={defaultOpen ? 'open' : 'closed'}
>
    <ContainerHeader
        id={titleID}
        class='toggle-title'
    >
        {
            heading ? (
                <Heading
                    heading={heading}
                    displayHeading={displayHeading}
                >
                    <Toggle_Control
                        {...{ id, buttonID }}
                        data-toggle-primary-control={id}
                    >
                        <slot name='button' />
                    </Toggle_Control>
                </Heading>
            ) : (
                <Toggle_Control
                    class:list={`h${displayHeading ?? 7}`}
                    {...{ id, buttonID }}
                    data-toggle-primary-control={id}
                >
                    <slot name='button' />
                </Toggle_Control>
            )
        }
    </ContainerHeader>

    <div
        data-toggle-content={id}
        id={contentID}
    >
        <div class='container'><slot /></div>
    </div>
</Container>
